{% extends 'gym/base.html' %}

{% block title_html %}
	AM FITNESS | MEMBERSHIP
{% endblock %}
{% block page_content%}

<div class="wrapper">
	<h2>New Membership</h2>
	<form method="POST" action="{% url 'gym:membership'%}">
		{% csrf_token %}
		<h4>Account</h4>
		<div class="input-group">
			<div class="input-box">
				<input type="text" placeholder="Full Name" name="member" required class="name">
				<i class="fa fa-user icon"></i>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Age" required name="age" class="name">
				<i class="fas fa-id-card icon"></i>
			</div>	
		</div>
		<div class="input-group">
			<div class="input-box">
				<input type="email" placeholder="Email Address" name="emailid" required class="name">
				<i class="fas fa-envelope icon"></i>
			</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<input type="number" placeholder="Cell No" name="cell" required class="name" maxlength="10">
				<i class="fas fa-credit-card icon"></i>
			</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<h4>Date of Birth</h4>
				<input type="date" name="DOB" value="2000-01-01" min="1980-01-01" max="2010-01-01" class="dob">
			</div>
			<div class="input-box">
			<h4>Gender</h4>
				<input type="radio" id="b1" name="gender" checked class="radio" value="Male">
				<label for="b1">Male</label>
				<input type="radio" id="b2" name="gender" class="radio" value="Female">
				<label for="b2">Female</label>
			</div>
		</div>
		<div class="input-group">
		<div class="input-box">
			<h4>Plan</h4>
			<select name="plan">
				<option value="Silver">Silver</option>
				<option value="Gold">Gold</option>
				<option value="Platinum">Platinum</option>
			</select>
		</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<h4>Payment Details</h4>
				<input type="radio" name="pay" id="bc1" checked class="radio">
				<label for="bc1"><span><i class="fab fa-cc-mastercard"></i> Credit Card</span></label>
				<input type="radio" name="pay" id="bc2" checked class="radio">
				<label for="bc2"><span><i class="fab fa-cc-visa"></i> Debit Card</span></label>
			</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<input type="number" placeholder="Card Number" required class="name" maxlength="16">
				<i class="fas fa-credit-card icon"></i>
			</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<input type="password" maxlength="3" placeholder="CVV" required class="name">
				<i class="fas fa-credit-card icon"></i>
			</div>
			<div class="input-box">
				<select>
					{% for month in dates.months %}
					<option>{{month}}</option>
					{% endfor %}
					
				</select>
				<select>
					{% for year in dates.years %}
					<option>{{year}}</option>
					{% endfor %}					
				</select>
			</div>
		</div>
		<div class="input-group">
			<div class="input-box">
				<button type="submit">PAY NOW</button>
			</div>
		</div>
	</form>
</div>


{% endblock%}