<html>
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="E:\Project Backup\First Project\SampleProject\static\css\style4.css">
    <title>PDF Invoice</title>
    </head>
    <style>
        img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        }
    </style>
    <body>
        <img src="E:\Project Backup\First Project\SampleProject\static\images\untitled.png" class="logo">
        <h1>Subscription Invoice</h1><hr class="line">
        <div class="first-section"> 
        <div class="top-right">
        <h3>Bill to: Figo Fredy<br>ID: 02</h3>
        </div>
        <div class="top-left">
            <h3>Invoice No:#001<br>Date: 20/12/2003</h3>
        </div>
    </div>
    </body>
</html>