{% extends 'manage/admin.html' %}

{% block title %} AM FITNESS | TRAINERS {% endblock %}

{% block page %}
<section class="addMemForm">
    <div class="mem-container">
        <div class="title">Add Trainer</div>
        <form action="{% url 'addTrainer' %}" method="POST">
            {% csrf_token %}
            <div class="member-details">
                <div class="mem-input-box">
                    <span class="details">Name</span>
                    <input type="text" name="name"required>
                </div>
                
                <div class="mem-input-box">
                    <span class="details">Age</span>
                    <input type="number" name="age" required>
                </div>
                
            
                <div class="mem-input-box">
                    <span class="details">Mobile</span>
                    <input type="tel"  name="cell" required>
                </div>

                <div class="mem-input-box">
                    <span class="details">Salary</span>
                    <input type="number" name="salary" required>
                </div>            
                <div class="gender">
                    <span class="details">Gender</span><br>
                    <input type="radio" name="gender" value="Male">
                    <label class="male">Male</label>
                    <input type="radio" name="gender" value="Female">
                    <label class="female">Female</label>
                </div>
                <div class="plans-select">
                    <span class="details">Specialization</span><br>
                    <select name="spl">
                        <option value="Cardio">Cardio</option>
                        <option value="Bulking">Bulking</option>
                        <option value="Shredding">Shredding</option>
                        <option value="Weight Loss">Weight Loss</option>
                        <option value="Competition">Competition</option>
                        
                    </select>
                </div>
            </div>
            <div class="add-btn">
            <input type="submit" value="Add Trainer">
        </div>    
        </form>
    
    </div>   
</section>


{% endblock %}