{% extends 'manage/admin.html' %}

{% block title %}
AM FITNESS - TRAINERS
{% endblock %}
{% block page %}

<section class="data-table">
    <h3>trainers</h3>
    <div class="mem-link" style="margin-left:330px;">
    <a href="{% url 'addTrainer' %}">Add Trainer  <i class="fas fa-user-plus"></i></a>
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Area of Specialization</th>
                <th>Salary/month</th>
            </tr>
        </thead>
        <tbody>
            {% for i in trainer %}
            <tr>
                <td>{{i.trainer_name}}</td>
                <td>{{i.trainer_age}}</td>
                <td>{{i.trainer_gender}}</td>
                <td>{{i.trainer_cell}}</td>
                <td>{{i.aos}}</td>
                <td>{{i.salary}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}